In [5]:
for i in range(0,20,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
#print range 10 to 20
for i in range (10,20,1):
    print(i,end=" ")
print()

10 11 12 13 14 15 16 17 18 19

In [13]:
#print no of items in the list by using len
lst=[10,20,14,55,43,87,76]
print ("Number of items in the List2: ", len(lst))

Number of items in the List2:  7

In [17]:
#AI
var1="Artificial Intelligence"
for i in var1:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [21]:
#print even numbers in list
lst=(20,10,16,19,25,1,276,188)
for i in lst:
    if i%2 == 0:
        print(i, "is even")
    else:
        print(i, "is odd")

20 is even
10 is even
16 is even
19 is odd
25 is odd
1 is odd
276 is even
188 is even

In [38]:
#tuple
tupl1=(0,1,2,3)
tupl2=('Python', 'Hope')
tupl3=(tupl1,tupl2)
print(tupl1,tupl2)
print(tupl3)
print(tupl1+tupl2)

(0, 1, 2, 3) ('Python', 'Hope')
((0, 1, 2, 3), ('Python', 'Hope'))
(0, 1, 2, 3, 'Python', 'Hope')